{% extends 'base.html' %}
<link rel="stylesheet" href="style.css">
{% block title %}
    Home Page
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="container">

        <div class="overlay-icone-chargement">
            <img src="../static/chargement/circles.svg" alt="logo chargement">
        </div>

        <h1>Application météo</h1>

        <div class="bloc-logo-info">

            <div class="bloc-logo">
                <img src="../static/jour/04d.svg" alt="logo du temps qu'il fait" class="logo-meteo">
            </div>

            <div class="bloc-info">
                <p class="temps"></p>
                <p class="temperature"></p>
                <p class="localisation"></p>
            </div>

        </div>


        <div class="heure-bloc-prevision">
            <div class="bloc-h">
                <p class="heure-nom-prevision"></p>
                <p class="heure-prevision-valeur"></p>
            </div>
            <div class="bloc-h">
                <p class="heure-nom-prevision"></p>
                <p class="heure-prevision-valeur"></p>
            </div>
            <div class="bloc-h">
                <p class="heure-nom-prevision"></p>
                <p class="heure-prevision-valeur"></p>
            </div>
            <div class="bloc-h">
                <p class="heure-nom-prevision"></p>
                <p class="heure-prevision-valeur"></p>
            </div>
            <div class="bloc-h">
                <p class="heure-nom-prevision"></p>
                <p class="heure-prevision-valeur"></p>
            </div>
            <div class="bloc-h">
                <p class="heure-nom-prevision"></p>
                <p class="heure-prevision-valeur"></p>
            </div>
            <div class="bloc-h">
                <p class="heure-nom-prevision"></p>
                <p class="heure-prevision-valeur"></p>
            </div>
        </div>


        <div class="jour-prevision-bloc">
            <div class="bloc-j">
                <p class="jour-prevision-nom"></p>
                <p class="jour-prevision-temp"></p>
            </div>
            <div class="bloc-j">
                <p class="jour-prevision-nom"></p>
                <p class="jour-prevision-temp"></p>
            </div>
            <div class="bloc-j">
                <p class="jour-prevision-nom"></p>
                <p class="jour-prevision-temp"></p>
            </div>
            <div class="bloc-j">
                <p class="jour-prevision-nom"></p>
                <p class="jour-prevision-temp"></p>
            </div>
            <div class="bloc-j">
                <p class="jour-prevision-nom"></p>
                <p class="jour-prevision-temp"></p>
            </div>
            <div class="bloc-j">
                <p class="jour-prevision-nom"></p>
                <p class="jour-prevision-temp"></p>
            </div>
            <div class="bloc-j">
                <p class="jour-prevision-nom"></p>
                <p class="jour-prevision-temp"></p>
            </div>
        </div>

    </div>
</div>
<script type="module" src="../static/main.js"></script>
{% endblock %}